<div class='row'>
  <div class='page-header'>
    <h1>
      <a id='numbering' href="#numbering">Минимальная плоская нумерация</a>
      <small>для произвольного дерева</small>
    </h1>
  </div>
  <div class='col-md-3'>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Настройки</h3>
      </div>
      <div class="panel-body">
        <div class='input-group'>
          <input type='number' class='form-control' data-bind='value:parent' placeholder='вершина родитель'>
        </div>
        <span class='btn-group'>
          <button type='button' class='btn btn-default' data-bind='click:add'>
            <span class='glyphicon glyphicon-plus' aria-hidden='true' title='Добавить ребро'>Добавить ребро</span>
          </button>
          <button type='button' class='btn btn-default' data-bind='click:reset'>
            <span class='glyphicon glyphicon-remove' aria-hidden='true' title='Очистить'>Очистить</span>
          </button>
        </span>
        <div class='input-group'>
          <input type='number' class='form-control' data-bind='value:root' placeholder='начальная вершина'>
        </div>
        <span class='btn-group'>
          <button type='button' class='btn btn-default' data-bind='click:setRoot'>
            <span class='glyphicon glyphicon-random' aria-hidden='true' title='Перенумеровать'>Перенумеровать</span>
          </button>
          <button type='button' class='btn btn-default' data-bind='click:renumber'>
            <span class='glyphicon glyphicon-random' aria-hidden='true' title='Создать плоскую нумерацию'>Создать плоскую нумерацию</span>
          </button>
        </span>
        <!-- ko if:warning -->
        <div class='well well-sm'>
          <span class="label label-warning" data-bind='text:warning'></span>
        </div>
        <!-- /ko -->
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Информация</h3>
      </div>
      <div class="panel-body">
        <div class='well well-sm'>
          <span class="label label-info">Добавить</span>ребро в граф</div>
        <div class='well well-sm'>
          <span class="label label-success">Перенумеровать</span>вершины в текущем графе</div>
        <div class='well well-sm'>
          <span class="label label-warning">Очистить</span>текущие настройки</div>
      </div>
    </div>
  </div>
  <div data-bind='component: { name: "juggler-graph", params: { nodes: nodes, edges: edges, labels:labels, orgraph:true }}' class='col-md-7'
  style='bottom:0px;'></div>
  <div class='col-md-2'>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Структура графа</h3>
      </div>
      <div class="panel-body">
        <p>
          <span class="badge" data-bind='text: nodes().length'></span>вершин</p>
        <p>
          <span class="badge" data-bind='text: edges().length'></span>рёбер</p>
      </div>
      <div class='well well-sm'>
        <span class="label label-success">Рёбра</span>
        <ul data-bind='foreach:edgesText' class='list-group'>
          <li data-bind='text:$data' class='list-group-item'>
        </ul>
      </div>
    </div>
  </div>
</div>