<div class='row'>
  <div class='page-header'>
    <h1><a id='orgraph' href="#orgraph">Oriented graphs</a>
      <small>input or generate with renumbering</small>
    </h1>
  </div>
  <div class='col-md-3'>
    <div class='input-group'>
      <input type='number' class='form-control' data-bind='value:vertex, event: {keypress: onEnter}' placeholder='Input number'>
      <span class='input-group-btn'>
        <button type='button' class='btn btn-default' data-bind='click:add'>
          <span class='glyphicon glyphicon-plus' aria-hidden='true' title='Add'></span>
        </button>

        <button type='button' class='btn btn-default' data-bind='click:reset'>
          <span class='glyphicon glyphicon-remove' aria-hidden='true' title='Reset'></span>
        </button>

        <button type='button' class='btn btn-default' data-bind='click:generate'>
          <span class='glyphicon glyphicon-random' aria-hidden='true' title='Generate'></span>
        </button>

        <button type='button' class='btn btn-default' data-bind='click:renumber'>
          <span class='glyphicon glyphicon-refresh' aria-hidden='true' title='Renumber'></span>
        </button>
      </span>
    </div>
    <div class='well well-sm text-word-wrap' data-bind='text:code'>...</div>

    <span class="label label-warning" data-bind='text:warning'></span>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
      </div>
      <div class="panel-body">
        <div class='well well-sm'>
          <span class="label label-info">Add</span>
          the entered vertex to the end of Prufer code
        </div>

        <div class='well well-sm'>
          <span class="label label-success">Generate</span>
          random Prufer code given length
        </div>

        <div class='well well-sm'>
          <span class="label label-success">Renumber</span>
          the vertices to create a flat numbering
        </div>

        <div class='well well-sm'>
          <span class="label label-warning">Reset</span>
          current graph
        </div>
      </div>
    </div>

  </div>
  <div data-bind='component: { name: "juggler-graph", params: { nodes: nodes, edges: edges, orgraph:true }}' class='col-md-9' style='bottom:0px;'></div>
</div>
