<div class='row'>
  <div class='page-header'>
    <h1>Prüfer code examples
      <small>generate or input</small>
    </h1>
  </div>
  <div class='col-md-3'>
    <div class='input-group'>
      <input type='number' class='form-control' data-bind='value:vertex, event: {keypress: onEnter}' placeholder='Input number'>
      <span class='input-group-btn'>
        <button type='button' class='btn btn-default' data-bind='click:add'>
          <span class='glyphicon glyphicon-plus' aria-hidden='true' title='Add'></span>
        </button>

        <button type='button' class='btn btn-default' data-bind='click:reset'>
          <span class='glyphicon glyphicon-remove' aria-hidden='true' title='Reset'></span>
        </button>

        <button type='button' class='btn btn-default' data-bind='click:generate'>
          <span class='glyphicon glyphicon-refresh' aria-hidden='true' title='Generate'></span>
        </button>
      </span>
    </div>
    <div class='well well-sm' data-bind='text:code'>...</div>
  </div>
  <div data-bind='component: { name: "juggler-graph", params: { nodes: nodes, edges: edges, orgraph:false }}' class='col-md-7' style='bottom:0px;'></div>
</div>
