<div class="row">
  <div class="page-header">
    <h1>
      <a id="rstrees" href="#rstrees">Генерация RS-деревьев</a>
      <small>по заданным параметрам</small>
    </h1>
  </div>
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Настройки</h3>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="number" class="form-control" data-bind="value:nodeSize" placeholder="введите S">
          <input type="number" class="form-control" data-bind="value:intersectionSize" placeholder="введите R">
          <input type="number" class="form-control" data-bind="value:amountNodes" placeholder="введите число звеньев">
        </div>
        <span class="btn-group">
          <button type="button" class="btn btn-default" data-bind="click:build">
            <span class="glyphicon glyphicon-play" aria-hidden="true" title="Построить">Построить</span>
          </button>
          <!--<button type="button" class="btn btn-default" data-bind="click:reset">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" title="Очистить">Очистить</span>
          </button>-->
        </span>
        <!-- ko if:warning -->
        <div class="well well-sm">
          <span class="label label-warning" data-bind="text:warning"></span>
        </div>
        <!-- /ko -->
      </div>
    </div>
    <!-- ko if:built -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Результаты</h3>
      </div>
      <div class="panel-body">
        <div class="well well-sm">
          <h3>Полный код RS-дерева
            <span class="label label-info label-multiline" data-bind="text:fullCode"></span>
          </h3>
        </div>
        <div class="well well-sm">
          <h3>Экономный код RS-дерева
            <span class="label label-warning label-multiline" data-bind="text:shortCode"></span>
          </h3>
        </div>
      </div>
    </div>
    <!-- /ko -->
    <!--<div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Настройки</h3>
      </div>
      <div class="panel-body">
        <div class="well well-sm">
          <span class="label label-info">Построить RS-дерево</span>по заданным параметрам</div>
        <div class="well well-sm">
          <span class="label label-warning">Очистить</span>текущие гастройки</div>
      </div>
    </div>--></div>
  <div class="col-md-7">
    <div data-bind="component: { name: 'juggler-graph', params: { nodes: nodes, edges: edges, orgraph:false }}" style="bottom:0px;"
    class="col-md-7"></div>
    <div data-bind="component: { name: 'juggler-graph', params: { nodes: shortTreeNodes, edges: shortTreeEdges, orgraph:false }}"
    style="bottom:0px;" class="col-md-5"></div>
  </div>
  <div class="col-md-2">
    <!-- ko if:built -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Структура графа</h3>
      </div>
      <div class="panel-body">
        <p>
          <span class="badge" data-bind="text: nodes().length"></span>вершин</p>
        <p>
          <span class="badge" data-bind="text: edges().length"></span>рёбер</p>
      </div>
      <div class="well well-sm">
        <span class="label label-success">Рёбра</span>
        <ul data-bind="foreach:edgesText" class="list-group items-scrollable-list">
          <li data-bind="text:$data" class="list-group-item">
        </ul>
      </div>
    </div>
    <!-- /ko -->
  </div>
</div>